/* --- Reset ------------- */

	html, body {
		margin: 0;
		padding: 0;
		font-size: 100%;
		min-height: 100%;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		color: #1d1d1d;
	}

	fieldset, button, input {
		border: none;
		margin: 0;
		outline: 0;
		font-size: 20px;
		padding: 5px 10px;
		border-radius: 3px;
		width: 100%;
		box-sizing: border-box;
		-webkit-appearance: none;
	}


/* --- Common ------------ */

	.heading
	{
		margin: 0;
		font-size: 25px;
		color: #1d1d1d;
	}

	.heading > span {
		display: inline-block;
		background: linear-gradient(
			to left, 
			rgba(63,169,245,0) 
			0%,rgba(63,169,245,0)
			34%,rgba(63,169,245,1) 
			34%,rgba(63,169,245,1) 
			100%);
	} 

	.sub-heading {

	}

	.link {
		text-decoration: none;
	}

	.list {
		list-style-type: none;
		padding: 0;
	}

	.branding
	{
		font-size: 100px;
		line-height: 100px;
	}
	
	.tagline {
		margin-top: 0;
	}

	.meta {
		font-size: 10px;
		color: #777;
	}

	.structural {
		display: block;
		width: 1px;
		height: 1px;
		overflow: hidden;
		text-indent: -500px;
		clip: rect(0 0 0 0); 
		margin: -1px;
		padding: 0;
		border: 0; 
	}

	.page {
		max-width: 900px;
		margin: 50px auto 0;
		padding: 0 3%;
	}

	.header {
		text-align: center;
	}

	.modular {
		background: rgb(151, 247, 255);
		overflow: hidden;
		margin-bottom: 20px;
		padding: 20px;
		box-sizing: border-box;
		position: relative;
		display: block;
		border-radius: 3px;
		box-shadow: 0px 3px 2px 0px rgb(143,143,143);
	}

	.form > .modular{
		background: rgb(0, 255, 191);
		margin-bottom: 20px;
		padding: 20px;
		box-sizing: border-box;
		position: relative;
		display: block;
	}

	.form > .modular .heading {
		position: relative;
		background: #fff;
		border-radius: 11px;
		padding: 5px 20px;
		border: 3px solid rgb(0, 255, 191);
		display: block;
	}

	.loading .form > .modular .heading:before {
		content: "";
		position: absolute;
		left: -22px;
		top: 0px;
		-webkit-animation: spinner 1500ms infinite linear;
		-ms-animation: spinner 1500ms infinite linear;
		animation: spinner 1500ms infinite linear;
		-ms-border-radius: .5em;
		-o-border-radius: .5em;
		border-radius: .5em;
		box-shadow: rgba(0,0,51,.3) 1.5em 0 0 0,rgba(0,0,51,.3) 1.1em 1.1em 0 0,rgba(0,0,51,.3) 0 1.5em 0 0,rgba(0,0,51,.3) -1.1em 1.1em 0 0,rgba(0,0,51,.3) -1.5em 0 0 0,rgba(0,0,51,.3) -1.1em -1.1em 0 0,rgba(0,0,51,.3) 0 -1.5em 0 0,rgba(0,0,51,.3) 1.1em -1.1em 0 0;
		display: inline-block;
		font-size: 10px;
		width: 1em;
		height: 1em;
		margin: 1.5em;
		overflow: hidden;
		text-indent: 100%;
	}

	.modular .item:hover,
	.modular .item:focus,
	.modular .item.is-active,
	.modular .link:hover,
	.modular .link:focus {
		color: #fff;	
		background: #777;
		cursor: pointer;	
	}

	.modular.list {
		padding: 10px 0;
		margin-top: 30px;
		overflow: visible;
	}

	.modular.list .item
	{
		padding: 0 20px;
		cursor: pointer;
	}

	.modular .item.is-active {
		background: #333;
	}

	.modular .meta {
		position: absolute;
		top: 0;
		right: 20px;
		text-align: right;
	}

	#ac:before {
		position: absolute;
		top: -32px;
		right: 15%;
		content: '';
		height: 35px;
		width: 30px;
		background: transparent;
		-webkit-border-radius: 0 60px 90px 0;
		-moz-border-radius: 0 60px 90px 0;
		-ms-border-radius: 0 60px 90px 0;
		-o-border-radius: 0 60px 90px 0;
		border-radius: 0 60px 90px 0;
		-webkit-box-shadow: 15px -10px 0px 3px rgb(0, 255, 191);
		-moz-box-shadow: 15px -10px 0px 3px rgb(0, 255, 191);
	}

	.infobox {		
		max-height: 70px;
		cursor: pointer;
		box-shadow: 0px 3px 2px 0px rgb(143,143,143);	
		transition: max-height 1s ease-out;
	}

	.infobox:before {
		content: "";
		position: absolute;
		top: 10px;
		left: 20px;
		display: block;
		width: 0; 
		height: 0; 
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;		
		border-top: 7px solid #fff;
	}

	.infobox .heading {
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
		max-height: 60px;
		width: 100%;
		overflow: hidden;
	}

	.infobox .text {
		background: white;
		border: 10px solid white;
		border-radius: 5px;
		color: #1d1d1d;
	}

	.infobox:hover, 
	.infobox:focus {
		max-height: 1000px;
		background: rgb(0, 236, 255);
	}

	.infobox:hover:before {
		content: none;
	}

	.infobox:hover .heading {
		text-overflow: initial;
		white-space: inherit;
		display: block;
		max-height: none;
		width: 100%;
		overflow: hidden;
	}


/* --- MQ ---------------- */

	/* Small adjustments */
	@media only screen and (max-width: 1024px)
	{
		.foo{} /* for sublime only */

	}

	@media only screen and (max-width: 720px)
	{
		.foo{}
		.branding
		{
			font-size: 70px;
			line-height: 100px;
		}

		.form > .modular .heading {
			margin: 0 auto;
		}

	}

	@media only screen and (max-width: 320px)
	{
		.foo{}

		

	}

/* -- animations ---- */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}